@font-face {
  font-family: "Galano Grotesque Medium";
  src: url("fonts/GalanoGrotesque-Medium.woff") format("woff");
}

body {
  background: #f9f9fa;
  font-family: "Open Sans", sans-serif;
}

.subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to right, #4343ff 0%, #f96d6d 80%);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 80px;
  min-width: 400px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 58px;
  font-family: "Galano Grotesque Medium";
  font-size: 46px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  color: #110c11;
  max-width: 845px;
  min-width: 400px;
}

.main_part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 22px;
  gap: 28px;
}

.blocks {
  background: #ffffff;
}

.block_header {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: uppercase;
  color: #110c11;
  margin: 22px;
}

.block_text {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #5c5c5c;
  margin: 22px;
}

@media screen and (max-width: 600px) {
  .main_part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
