@font-face {
  font-family: "Galano Grotesque Medium";
  src: url("fonts/GalanoGrotesque-Medium.woff") format("woff");
}

body {
  background: #f9f9fa;
  font-family: "Open Sans", sans-serif;
}

.subtitle {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to right, #4343ff 0%, #f96d6d 80%);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 80px;
  min-width: 400px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 58px;
  font-family: "Galano Grotesque Medium";
  font-size: 46px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  color: #110c11;
  max-width: 845px;
  min-width: 400px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 22px;
  gap: 28px;
}

.cards__item_color {
  background: #ffffff;
}

.cards__item-header {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: uppercase;
  color: #110c11;
  margin: 22px;
}

.cards__item-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #5c5c5c;
  margin: 22px;
}

@media screen and (max-width: 600px) {
  .cards_v1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.block-amway {
  display: flex;
  justify-content: space-around;
  height: 402px;
}

.earnings {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  justify-content: center;
}

.earnings__header {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  margin-bottom: 0px;
}

.earnings__header-text_font-family_source-sans-pro,
.earnings__buttons-item_font-family_source-sans-pro,
.cards-amway__item-header_font-family_source-sans-pro,
.cards-amway__item3-header_font-family_source-sans-pro,
.cards-amway__item-text_font-family_source-sans-pro,
.cards-amway__item3-text_font-family_source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.earnings__header-text_size_s,
.earnings__buttons-item_size_s {
  font-size: 16px;
}

.earnings__header-text_color_gray,
.earnings__header_color_gray,
.cards-amway__item-header_color_gray,
.cards-amway__item3-header_color_gray,
.cards-amway__item-text_color_gray,
.cards-amway__item3-text_color_gray {
  color: #56565a;
}

.earnings__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.earnings__buttons-item {
  background: #0a467e;
  color: #ffffff;
  padding: 12px 40px;
  border: none;
}

.cards-amway {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 270px));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.cards-amway__item,
.cards-amway__item3 {
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #f7f7f7;
  text-align: center;
}

.cards-amway__item3 {
  grid-area: 1 / 2 / 3 / 3;
}

.cards-amway__item-header,
.cards-amway__item3-header {
  font-size: 18px;
  margin-left: 45.5px;
  margin-right: 45.5px;
}

.cards-amway__item3-header {
  margin-left: 22px;
  margin-right: 22px;
}

.cards-amway__item-text,
.cards-amway__item3-text {
  font-size: 14px;
  margin: 15px 25px 22px 25px;
}

.cards_item-border {
  border-top: 1px solid #e5e5e5;
  max-width: 170px;
  margin-left: 50px;
  margin-right: 50px;
}

.cards-amway__item-icon {
  padding-top: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards-amway__item3-icon {
  padding-top: 106px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 880px) {
  .cards-amway {
    grid-template-columns: repeat(1, minmax(220px, 270px));
    grid-template-rows: repeat(3, 1fr);
  }
  .cards-amway__item3 {
    grid-area: auto;
  }
}

@media screen and (max-width: 500px) {
  .block-amway {
    display: block;
  }
  .cards-amway {
    margin-top: 20px;
  }
}
